*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.btn {
  font-family: 'Comic Sans MS', 'Comic Sans', sans-serif;
  background-color: white;
  border-radius: 5px;
}

.btn:hover {
  background-color: rgb(235, 235, 235);
}

.d-flex {
  display: flex;
}

.col {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

ul {
  list-style: none;
}

#header {
  width: 96%;
  justify-content: space-between;
  padding: 10px 20px;
  border: 2px solid black;
  margin: 5px auto;
}

#nav-list {
  justify-content: center;
  align-items: center;
}

.nav-item + .nav-item {
  border-left: 2px solid black;
}

.nav-item {
  padding: 0 8px;
  text-align: center;
}

.nav-item a:hover {
  color: blue;
}

.active {
  color: red;
}



#main {
  min-height: calc(100vh - 16vh) ;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 15%;
  text-align: center;
  font-family: 'Comic Sans MS', 'Comic Sans', sans-serif;
}

.books-container {
  width: 100%;
  display: flex;
  margin: 18px 0;
  flex-direction: column;
  border: solid 3px darkgray;
}

.book {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 7px;
  font-weight: bold;
}

.book:nth-child(even) {
  background-color: rgb(235, 235, 235);
}

.book:first-child {
  padding-top: 7px;
}

.book:last-child {
  padding-bottom: 7px;
}

.btn-remove {
  align-self: flex-end;
  padding: 3px 7px;
  border: 1px solid red;
  box-shadow: 3px 3px 0 0 #7c7c7c;
  color: red;
}

.clickeable {
  cursor: pointer;
}

#create-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
}

#create-form input {
  font-size: 20px;
  font-family: 'Comic Sans MS', 'Comic Sans', sans-serif;
  padding: 1px 1px;
}

#form-button {
  font-size: 20px;
  align-self: flex-end;
  padding: 3px 7px;
  border: 1px solid rgb(0, 168, 0);
  box-shadow: 3px 3px 0 0 #7c7c7c;
}

.divisor {
  width: 30%;
  margin-bottom: 12px;
  border: none;
  border-bottom: 2px solid darkgray;
}

#footer {
  position: relative;
  bottom: 0;
  width: 96%;
  padding: 10px 20px;
  border: 2px solid black;
  margin: 5px auto;
}

.d-off {
  display: none;
}
